<!DOCTYPE html>
<html>
  <head>
    <title>Cleverbot-Conversation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Clever Text: The <i>smartest</i> in texting innovation</h3>

    <h5>Here's your own number to start: <%= number %></h5>
  </body>
</html>