<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>CleverText</title>
<link href="web/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- start portfolios -->
		<script type="text/javascript">
			$('body').flipLightBox()
		</script>
		<script type="text/javascript">
			$(function() {

				var filterList = {

					init : function() {

						// MixItUp plugin
						// http://mixitup.io
						$('#portfoliolist').mixitup({
							targetSelector : '.portfolio',
							filterSelector : '.filter',
							effects : ['fade'],
							easing : 'snap',
							// call the hover effect
							onMixEnd : filterList.hoverEffect()
						});

					},

					hoverEffect : function() {

						// Simple parallax effect
						$('#portfoliolist .portfolio').hover(function() {
							$(this).find('.label').stop().animate({
								bottom : 0
							}, 200, 'easeOutQuad');
							$(this).find('img').stop().animate({
								top : -40
							}, 500, 'easeOutQuad');
						}, function() {
							$(this).find('.label').stop().animate({
								bottom : -40
							}, 200, 'easeInQuad');
							$(this).find('img').stop().animate({
								top : 0
							}, 300, 'easeOutQuad');
						});

					}
				};

				// Run the show!
				filterList.init();

			});
		</script>
		 <!-- scroll -->
		 <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		 <!-- //scroll -->
 <!-- start header_style3 -->
<!-- popup -->
<link rel="stylesheet" type="text/css" href="web/css/magnific-popup.css">
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
					});
				});
				</script>
        <link rel="stylesheet" type="text/css" href="web/css/lightbox.css" media="screen" />
  <script type="text/javascript">
    $(function() {
        $('#portfoliolist a').lightBox();
    });
   </script>
</head>
<body>
</div>
	<!---------banner------------->
	<div class="banner">
		<div class="wrap">
			<h2>CleverText</h2>
			<p>    Text this random number: <%= number%> to get started</p>
		</div>
	</div>	
	<!---------about------------->
	<div class="about" id="about">
		<div class="wrap">
			<h3>About Us</h3>
			<p>Clever Text is an SMS messaging application that allows its user to seamless engage with either a computer, or another human. It integrates human proficiency with computer ingenuity to create a harmless method of entertainment.</p>
			<img src="web/images/about.png" alt="" />
			<p>Take a number and text us…see if you can outsmart the Clever Text!</p>
		</div>
	</div>
	<div class="team" id="team">
	<div class="wrap">
		<div class="team-grids">
			<h2>Our Team</h2>
			<p>We come from a diverse set of backgrounds, and all bring awe-striking skills to the table.</p>
						<div class="images_1_of_4">
					 		<a href="#" class="radius"><img src="web/images/peinan.png"></a>	
					 		<h3>Peinan Chen</h3>
					 		<p>Peinan’s academic interests include algorithms, computer architecture, and philosophy. In his free time, he enjoys reading novellas and partaking in card games. Peinan can often be found working on problem sets or watching videos in the fourth lounge. He likes to keep his living quarters tidy and dislikes holding on to a large quantity of physical belongings.</p> 
						</div>
						<div class="images_1_of_4">
							 <a href="#" class="radius"><img src="web/images/alexpic.png"></a>	
							 <h3>Alec Heifetz</h3>
							 <p>Award winner of a number of hackathons as well as interning at fantastic companies, Alec likes programming, reading sci-fi and fantasy novels, and playing foosball.</p>		   
						</div>
						<div class="images_1_of_4">
							 <a href="#" class="radius"><img src="web/images/John.png"></a>	
							 <h3>John Peurifoy</h3>
							 <p>A front-end developer with significant programming experience, John Peurifoy enjoys Scuba Diving and go-kart racing.</p>				   
						</div>
						<div class="images_1_of_4">
							 <a href="#" class="radius"><img src="web/images/will.png"></a>	
							 <h3>William Spitzer</h3>
							 <p>Bringing a huge amount of python experience to the table, Spitzer is a world-class table tennis player, and hopes to one day compete in the Olympics. No opponent has ever been able to return his serve in his 5 years competing at the professional level.</p>
						</div>
						<div class="clear"> </div>
		 </div>
</div>
</div>
<div class="portfoli1" id="portfolio"><!-- start portfoli1 -->
	
<div class="footer-bottom">
	<div class="wrap">
		<div class="nav">
			<ul>
				<li><a href="#about" class="scroll">About</a><span>:</span></li>
				<li><a href="#team" class="scroll">Team</a><span></span></li>
			</ul>
		</div>
		<div class="copy-right">
			<p>© Copyright 2014  All Rights Reserved       Template by <a href="http://w3layouts.com/">W3layouts</a></p>
			 <!-- scroll_top_btn -->
		<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
		</div>
	</div>
</div>	
</body>
</html>