<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>The Web-Wireframe Template | Home :: w3layouts</title>
<link href="mobile/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="SUBSCRIBE iphone web template, Andriod web template, Smartphone web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
	<div class="header" id="home">
		   <div class="wrap">
				<div class="logo"><a href="index.html"><img src="mobile/images/logo.png" alt="logo" /></a></div>
				<div class="drp-dwn select">
				        <select onchange="window.location=this.options[this.selectedIndex].value">
							<option value="#home" class="scroll">Home</option>
							<option value="#about" class="scroll">About</option>
							<option value="#team" class="scroll">Team</option>
							<option value="#portfolio" class="scroll">Portfolio</option>
							<option value="#contact" class="scroll">Contact</option>					
						</select>
					</div>	
		   </div>				
	</div>
	<!---------banner------------->
	<div class="banner">
		<div class="wrap">
			<h2>We Build Awesome</h2>
			<p>A Template By your Company</p>
			<img src="mobile/images/banner.png" alt="" />
		</div>
	</div>	
	<!---------about------------->
	<div class="about" id="about">
		<div class="wrap">
			<h3>About Us</h3>
			<p>Lorem Ipsum is simply dummy text.</p>
			<img src="mobile/images/about.png" alt="" />
			<p>Contrary to popular belief Lorem Ipsum is not simply random. </p>
		</div>
	</div>
	<div class="team" id="team">
	<div class="wrap">
		<div class="team-grids">
			<h2>Our Team</h2>
			<p>Lorem Ipsum is simply dummy text.</p>
						<div class="images_1_of_4">
					 		<a href="#"><img src="mobile/images/team1.png"></a>	
					 		<h3>Name</h3>
					 		<p>Lorem ipsum is simply dummy text</p>
					 		<a href="#"><img src="mobile/images/msg.png"></a>				    
						</div>
						<div class="images_1_of_4">
							 <a href="#"><img src="mobile/images/team2.png"></a>	
							 <h3>Name</h3>
							 <p>Lorem ipsum is simply dummy text</p>		
							 <a href="#"><img src="mobile/images/msg.png"></a>					   
						</div>
						<div class="images_1_of_4">
							 <a href="#"><img src="mobile/images/team3.png"></a>	
							 <h3>Name</h3>
							 <p>Lorem ipsum is simply dummy text</p>	
							 <a href="#"><img src="mobile/images/msg.png"></a>							   
						</div>
						<div class="images_1_of_4">
							 <a href="#"><img src="mobile/images/team4.png"></a>	
							 <h3>Name</h3>
							 <p>Lorem ipsum is simply dummy text</p>	
							 <a href="#"><img src="mobile/images/msg.png"></a>					   
						</div>
						<div class="clear"> </div>
		 </div>
</div>
</div>
<div class="portfoli1" id="portfolio"><!-- start portfoli1 -->
	<div class="wrap">
		<h5>Our Portfolio</h5>
		<h6>Lorem Ipsum is simply dummy text.</h6>
		<div class="container"><!-- start container -->
						<ul id="filters" class="clearfix">
							<li>
								<span class="filter active" data-filter="app card icon web">All</span>
							</li>
							<li>
								<span class="filter" data-filter="app  icon">App</span>
							</li>
							<li>
								<span class="filter" data-filter="card ">Card</span>
							</li>
							<li>
								<span class="filter" data-filter="icon app card ">Icon</span>
							</li>
							<li>
								<span class="filter" data-filter="web card icon">Web</span>
							</li>
						</ul>
						<div id="portfoliolist">
							<div class="portfolio logo1 mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a href="#" class="flipLightBox"> <img src="mobile/images/pf-1.jpg" alt="Image 2" style="top: 0px;"> </a>									
								</div>
							</div>
							<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a href="#" class="flipLightBox"> <img src="mobile/images/pf-10.jpg" alt="Image 2" style="top: 0px;"> </a>									
								</div>
							</div>
							<div class="portfolio web mix_all" data-cat="web" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a href="#" class="flipLightBox"> <img src="mobile/images/pf-2.jpg" alt="Image 2" style="top: 0px;"> </a>								
								</div>
							</div>
							<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a href="#" class="flipLightBox"> <img src="mobile/images/pf-5.jpg" alt="Image 2" style="top: 0px;"> </a>									
								</div>
							</div>
							<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a href="#" class="flipLightBox"> <img src="mobile/images/pf-6.jpg" alt="Image 5" style="top: 0px;"> </a>									
								</div>
							</div>						
							<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
								<div class="portfolio-wrapper">
									<a href="#" class="flipLightBox"> <img src="mobile/images/pf-7.jpg" alt="Image 6" style="top: 0px;"> </a>									
								</div>
							</div>													
						</div>
		</div><!-- end container -->
	</div>
</div>
<div class="contact" id="contact">
	<div class="wrap">
		<h3>Contact Us</h3>
		<p>Lorem Ipsum is simply dummy text.</p>
        <div class="contact_form">
			 	 	    <form method="post" action="contact-post.html">
						    	<span><input type="text" value="Enter your name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your name';}"></span>
						    	<span><input type="text" value="Enter your Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your Address';}"></span>
						    	<span><input type="text" value="Enter your City" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your City';}"></span>
						    	<span class="left"><input type="text" value="Enter your email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter your email Address';}"></span>
						    <div class="clear"></div>
						    	<textarea placeholder="Your Message"></textarea>
						   		<input type="submit" class="" value="Submit us">
					    </form>
		 </div>
	</div>
</div>
<div class="footer-bottom">
	<div class="wrap">
		<div class="copy-right">
			<p>© Copyright 2014  All Rights Reserved       Template by <a href="http://w3layouts.com/">W3layouts</a></p>
		</div>
	</div>
</div>	
</body>
</html>